.register__container {
  border: 1px solid gray;
  border-radius: 10px;
  background-color: white;
  width: 100%;
  min-height: 750px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  padding-top: 5%;
  margin-bottom: 30px;
}