.hotels__card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.hotelsList__image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.hotel__image {
  width: 70%;
  border-radius: 10px;
}