body {
  padding-bottom: 30px;
}

.home__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.home__trap-image {
  width: 75%;
  margin-bottom: 30px;
}