.langButtons__container {
  height: 100%;
}

.langButtons__button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.wordsButton {
  color: gray;
  font-size: 14px;
}

.hidden {
  display: none;
}