.header {
  margin: 0 5% 4% 5%;
  height: 20px;
  min-height: 25px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 2%;
  background-color: white;
  color: #16369F;
  font-size: 25px;
}                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                   

.header__logo-container {
  margin-right: 100px;
  cursor: pointer;
}

.header__login-container {
  border: 1px solid gray;
  width: 20%;
  height: 50px;
  border-radius: 9px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.header__buttons {
  border: none;
  background-color: transparent;
  font-size: 20px;
  cursor: pointer;
  font-weight: 900;
}

.header__buttons-hotels {
  color: black;
}

.header__buttons-login {
  color: #16369F;
}