.hotelsList__card-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
}

.hotels__sort-button {
  margin-bottom: 30px;
  cursor: pointer;
  background-color: #0c1d55;
  color: white;
  border-radius: 2px;
  border: 0.5px solid white;
  font-size: 18px;
  width: 30%;
  height: auto;
  padding: 1%;
}